img {
    clip-path: inset(0 40% 0 1%);
    width: 190px;
    height: 110px;
   }

.image {
    display: block;
    text-align: center;
    padding-left: 90px;
    padding-bottom: 30px;
}

.header {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form {
    background: white;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}

.position-left-toggle {
  position: absolute;
  right: 0px;
  padding: 15px;   
}

.button {
    text-align: center;
}

.error {
    color: red;
    -webkit-animation:slide-bottom .3s ;animation:slide-bottom .6s  both
}

 @-webkit-keyframes slide-bottom{0%{-webkit-transform:translateY(10);transform:translateY(10)}50%{-webkit-transform:translateY(100px);transform:translateY(100px)}}@keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(4px);transform:translateY(4px)}}

ion-list {
    background: padding-box;
}

ion-item {
    padding-left: 5px;
    padding-right: 5px;
    height: 45px;
    
}




.icon {
    color: rgb(211, 211, 211);
    padding-right: 10px;
}




